.container{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.gl_cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    gap: 10px;
}

.games{
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.548);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 230px;
    flex-shrink: 0;
    cursor: pointer;
}

.games:hover{
    background-color: var(--green);
    color: #fff;
}

.games_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.games_image img{
    width: 100%;
    height: ;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/*Sub container*/
.align{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.divisoria{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #000;
    text-align: center;
    margin-top: 20%;
    font-size: 0.8rem;
}

h1{   
    align-items: first baseline;
}

/*Textos*/

.font{
    font-family: var(--bodyfont);
}

/*Responsividade*/
@media (min-width: 1200px){
    .align{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

@media (max-width: 1198.98px){
    .align{
        width: 80%;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

@media (max-width: 992px){
    .align{
        width: 70%;
        display: flex;
        flex-direction: row;
        gap: 1px;
    }
}