@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url("/img/vertical-green-forest-hills-kordun-croatia.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.main-login{
    width: 80vw;
    height: 80vh;
    background-color: rgba(128, 128, 128, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    border-radius: 30px;
}

.left-login{
    width: auto;
    height: auto;
    background: linear-gradient(216deg, #F9F9F9 0%, rgba(217, 217, 217, 0.10) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px 0 0 30px;
    box-shadow: inset 20px -20px 25px 0px rgba(128, 128, 128, 1);}

.left-login img{
    width: 70%;
}

.right-login{
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
