body{
    background: url('/img/vertical-green-forest-hills-kordun-croatia.jpg');
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 65vh;
}

.left{
    width: 40%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img{
    width: 80%;
}

.right{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.right h1{
    font-size: 3.2rem;
}

.add{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

.add img{
    width: 20%;
}

.add a{
    text-decoration: none;
    color: #FFF;
}

.add a:hover{
    text-decoration: underline;
}

/*Fundo*/
.bg-gray {
    background-color: rgba(128, 128, 128, 0.1);
    /* Ajuste a cor de fundo e a opacidade desejada */
    backdrop-filter: blur(10px);
    /* Ajuste o valor de acordo com o desfoque desejado */
    border-radius: 0px 10px 10px 0px;
    background-image: url("/img/fosco.png");
}

.bg-white {
    background-color: rgba(255, 255, 255, 0.75);
    /* Ajuste a cor de fundo e a opacidade desejada */
    backdrop-filter: blur(10px);
    /* Ajuste o valor de acordo com o desfoque desejado */
    border-radius: 10px 0px 0px 10px;
    background-image: url("/img/fosco.png");
}

/*Texto*/
.title {
    color: #FFFFFF;
    font-size: 3.2rem;
    font-weight: 100;
    font-family: var(--font)
}

.sub-title {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 100;
    font-family: var(--font);
}

.font{
    font-family: var(--font);
}

/*Input*/

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    width: 18vw;
    height: 40px;
    gap: 10px;
}

.input-box input{
    border: none;
    height: 30px;
    width: 70%;
}

/*Botão*/
button{
    background-color: var(--green);
    color: #FFF;
    width: 20%;
    height: 30px;
    border: none;
    border-radius: 20px;
    box-shadow: -9px 4px 14px 0px rgba(0,0,0,0.5);
-webkit-box-shadow: -9px 4px 14px 0px rgba(0,0,0,0.5);
-moz-box-shadow: -9px 4px 14px 0px rgba(0,0,0,0.5);
    font-weight: 500;
    font-family: var(--font);
}

button:hover{
    color: var(--darkgreen);
    background-color: #FFF;
}

/*Responsividade*/
@media (min-width: 1200px){
    .input-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 30px;
        width: 18vw;
        height: 40px;
        gap: 10px;
    }
    
    .input-box input{
        border: none;
        height: 30px;
        width: 70%;
    }
}

@media (min-width: 992px){
    .input-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 30px;
        width: 18vw;
        height: 40px;
        gap: 10px;
    }
    
    .input-box input{
        border: none;
        height: 30px;
        width: 50%;
    }

    .right h1{
        font-size: 2.2rem;
    }
}

@media (min-width: 768px){
    .input-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 30px;
        width: 30vw;
        height: 40px;
        gap: 10px;
    }
    
    .input-box input{
        border: none;
        height: 30px;
        width: 70%;
    }

    .right h1{
        font-size: 2.0rem;
    }
}