body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/img/vertical-green-forest-hills-kordun-croatia.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

/*Container*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 65vh;
}

.logo {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
}

.logo img {
    width: 100%;
}


.form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px 20px 20px 0px;
    gap: 20px;
}

.add {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30%;
}

.add img {
    width: 20%;
}

.add a {
    color: #FFF;
    font-weight: 100;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    width: 18vw;
    height: 40px;
    gap: 10px;
}

.input-box input {
    border: none;
    height: 30px;
    width: 70%;
}

/*Fundo*/

.bg-gray {
    background-color: rgba(128, 128, 128, 0.1);
    backdrop-filter: blur(20px);
    background-image: url('/img/fosco.png');
}

.bg-white {
    background-color: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(10px);
    background-image: url('/img/fosco.png');
}

/*Textos*/
.title {
    color: #FFFFFF;
    font-size: 3.2rem;
    font-weight: 100;
}

.sub-title {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 100;
}

.font-input {
    font-size: 1.0rem;
}

.font {
    font-family: var(--font);
}

/*Botões*/

button {
    background-color: var(--green);
    color: #FFF;
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 20px;
    box-shadow: -9px 4px 14px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -9px 4px 14px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -9px 4px 14px 0px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-family: var(--font);
}

button:hover {
    color: var(--darkgreen);
    background-color: #FFF;
}