.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    flex-direction: column;
}

.news{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.font{
    font-family: var(--bodyfont);
}