/* Importe de fonte */
@import url('https://fonts.google.com/specimen/Poppins');
@import url('https://fonts.google.com/specimen/Roboto');
@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.google.com/specimen/Poppins') format('poppins') 
    url('https://fonts.google.com/specimen/Roboto') format('roboto');
}

:root {
    --green: #3dcd58;
    --darkgreen: #03330c;
    --font: 'Caudex', serif;
}