<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Header2.css">
    <link rel="stylesheet" href="../../style/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="./Header2.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="left">
            <img src="../../img/logo.png" alt="Logo GreenConnect" onclick="HomePage()">
            <a onclick="HomePage()">Home</a>
            <a onclick="RedePage()">Rede</a>
            <a onclick="GrupoPage()">Grupos</a>
            <a onclick="NoticiaPage()">Notícias</a>
            <a onclick="ConteudoPage()">Conteúdos</a>
            <a onclick="RankingPage()">Ranking</a>
            <a onclick="GamePage()">Games</a>
            <a onclick="InstitutoPage()">Instituto Schneider</a>
            <a onclick="DiversidadePage()">Diversidade</a>
        </div>
        <div class="right">
            <i class="fa-solid fa-bell"></i>
            <div class="user">
                <i class="fa-solid fa-user photo"></i>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </div>
</body>

</html>