<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Component/Header.css">
    <link rel="stylesheet" href="../style/styles.css">
    <script src="../Component/Header.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="left">
            <img src="../img/logo.png" alt="Logo GreenConnect">
            <a href="" onclick="Video()">Video Pitch</a>
            <a href="" onclick="SobrePage()">Sobre o Projeto</a>
        </div>
        <button onclick="LoginPage()">LOGIN</button>
    </div>
</body>
</html>